<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top : 0">
    <div align="center">
        <h1>Clients C.R.U.D.</h1>
        <table style="width:25%">
            <td><a href="/home/create">Create</a></td>
            <td><a href="/home/read">Read</a></td>
            <td><a href="/home/update">Update</a></td>
            <td><a href="/home/delete">Delete</a></td>
        </table>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
